::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom right, #ffffff, #f5f5f5)
}

header {
    background-image: url('https://static.vecteezy.com/system/resources/previews/036/714/232/non_2x/ai-generated-red-wine-bottle-and-glass-of-red-wine-on-a-red-background-free-photo.jpg');
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.header a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 38px;
}

.header-items {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-items img {
    height: 25px;
}

header h1 {
    margin: 0;
    margin-bottom: 50px;
    color: #fff;
    font-size: 38px;
}

header div {
    width: 70%;
}

.explore {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: #83161b;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    text-decoration: none;
}

.explore:hover {
    background: #d03036;
}

main {
    display: flex;
    justify-content: center;
}

main .container {
    width: 70%;
    padding: 50px 0;
}

.how-it-works {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.how-it-works .how-desc {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.how-desc img {
    height: 50px;
}

.featured {
    margin: 100px 0;
    text-align: center;
}

#featured,
#results {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 50px;
}

.featured-wine {
    border: 1px solid #bdbdbd70;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: #fff;
    cursor: pointer;
    padding: 10px;
}

.featured-wine {
    text-decoration: none;
    color: #303030;
}

.featured-wine .wine-desc {
    text-align: center;
}

.featured-wine .wine-img {
    display: flex;
    justify-content: center;
}

.featured-wine:hover .wine-img img {
    scale: 1.1
}

.featured-wine .wine-img img {
    height: 200px;
    transition: all 0.15s ease;
}

footer {
    display: flex;
    justify-content: center;
    gap: 5px;
    font-size: 14px;
    color: #00202595;
    margin-top: 50px;
}

.search {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    margin: 0 auto 50px;
}

.search input {
    padding: 10px 10px 10px 40px;
    width: 100%;
}

input:focus {
    outline: none;
}

.search img {
    position: absolute;
    height: 25px;
    top: 50%;
    left: 20px;
    transform: translate(-50%, -50%);
}

#product {
    display: flex;
    justify-content: center;
    gap: 50px;
    min-height: 80vh;
}

#product .product-img {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 300px;
}

#product .product-img img {
    height: 300px;
}

#product .product-desc {
    width: 100%;
}

#product .product-desc .review {
    display: flex;
    align-items: center;
    gap: 25px;
}

#product .product-desc .review .stars {
    display: flex;
}

#product .product-desc .review .stars img {
    height: 20px;
    filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.5));
    cursor: pointer;
    filter: grayscale(1);
}

#product .product-desc .review .stars img:hover {
    filter: grayscale(0);
}

#product .product-desc .total-revs p {
    font-weight: 600;
}

#product .product-desc .total-revs span {
    font-size: 14px;
}

#product .product-desc .total-revs {
    display: flex;
    align-items: center;
    gap: 5px;
}