* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    /* background: linear-gradient(to bottom, #83f0ff, #fff), no-repeat; */
    /* background-repeat: no-repeat; */
    background: #181818;
}

main {
    display: flex;
    width: 100%;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.weather-info input {
    width: 200px;
    padding: 10px;
    font-size: 18px;
    color: #212121;
    border: 1px solid #212121;
    border-radius: 5px;
    transition: all 0.3s ease;
    background: #FFFAF0;
}

.weather-info input::placeholder {
    color: #3d3d3d;
}

.weather-info input:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.weather-info input:focus {
    outline: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.weather-info button {
    font-size: 18px;
    padding: 10px;
    color: #212121;
    border-radius: 5px;
    border: 1px solid #212121;
    background: #c6c6c6;
    cursor: pointer;
    transition: all 0.3s ease;
}

.weather-info button:hover {
    background: #d1d1d1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.weather-info button:active {
    background: #e0e0e0;
}

#weatherOutput img {
    height: 25px;
}

.location {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.display-weather {
    /* background: linear-gradient(to top, #d0cdff, #fff); */
    background: #323232;
    border: 2px solid #212121;
    border-radius: 10px;
    margin-top: 50px;
    padding: 20px;
    /* color: #212121; */
    color: #C7C7C7;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease;
    width: 800px;
    min-height: 210px;
}

.cityError {
    display: flex;
    height: 200px;
    width: 100%;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.display-weather h3 {
    text-align: center;
}

.temp {
    display: flex;
    justify-content: space-between;
}

.temp p {
    margin: 0;
}

.quote-container {
    color: #BDBDBD;
    display: flex;
    flex-direction: column-reverse;
    gap: 25px;
    align-items: center;
}

.quote-container button {
    padding: 10px;
    background: #c6c6c6;
    border: 1px solid #212121;
    color: #212121;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.quote-container button:hover {
    background: #d1d1d1;
}

.quote-container button:active {
    background: #e0e0e0;
}

.quote-container p {
    font-size: 24px;
}

.quote-container span {
    color: #8deaff;
}