.test {
    display: flex;
    justify-content: center;
    width: 100%;
}

.container {
    width: 800px;
}

h1 {
    text-align: center;
}

img {
    height: 200px;
    width: 200px;
}

/* .image {
    width: 100%;
    display: flex;
    justify-content: center;
} */