* {
    font-family: 'Futura', sans-serif;
}

body {
    background: linear-gradient(to right, #d4dade, #edf1f4);
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
}

.container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

header {
    height: 100px;
    z-index: 1000;
    position: sticky;
    background: linear-gradient(to right, #d4dade, #edf1f4);
    top: 0;
    border-bottom: 1px solid #212121;
}

.header {
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: space-between;
    margin: 0 50px;
    top: 0;
}

.header .logo h1 {
    cursor: pointer;
    padding: 10px;
    color: #ab3f3f;
}

.header .nav-btns {
    display: flex;
    gap: 15px;
}

.header .nav-btns a,
.header .nav-btns p {
    padding: 7px 10px;
    border-radius: 2px;
    text-decoration: none;
    color: #212121;
    transition: all 0.25s ease;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}

.header .nav-btns img {
    height: 20px;
}

.header .nav-btns a:hover {
    background: linear-gradient(to right, #dee2e5, #edf1f4);
    color: #ab3f3f;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.header .nav-btns a:active {
    background: #e7dfd0;;
}

.header .nav-btns .active {
    color: #ab3f3f;
}

.calendar {
    display: flex;
    justify-content: center;
}

.calendar-header {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid #212121;
    margin: 0 0 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.calendar .month {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 50px;
}

.calendar .month h2 {
    cursor: pointer;
}

.calendar .day {
    display: flex;
    gap: 50px;
    border-bottom: 2px solid #212121;
    margin: 5px;
}

.calendar .day h4 {
    display: flex;
    justify-content: center;
}

.calendar .day h4 {
    width: 100px;
}

.calendar .calendar-date {
    display: flex;
    gap: 50px;
    cursor: pointer;
    margin: 5px;
}

.calendar .calendar-date a {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100px;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    color: #212121;
    border-radius: 5px;
    font-weight: 600;
}

.calendar .calendar-date a:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: #edf1f4;
    color: #ab3f3f;
}

.calendar .calendar-date .prev-days {
    text-decoration: line-through;
    pointer-events: none;
    font-weight: 400;
}

.calendar .calendar-date .prev-month,
.calendar .calendar-date .next-month {
    color: #7a7b7c;
    font-weight: 400;
}

section {
    display: flex;
    justify-content: center;
    margin: 0 0 50px;
    cursor: pointer;
}

.activity {
    justify-content: center;
    width: 1010px;
    border: 1px solid #212121;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#activity {
    width: 100%;
}

.activity-header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #212121;
}

.activity-content {
    width: 100%;
    overflow: none;
}

.activity-image img {
    overflow: none;
    width: 100%;
    object-fit: cover;
    height: 200px;
}

.activity-info {
    padding: 10px 25px;
}

#currentDay {
    width: 155px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.footer-content p {
    transition: all 0.15s ease;
    cursor: grab;
}

.footer-content p:hover {
    color: #ab3f3f;
}

.features {
    display: flex;
    width: 1000px;
    justify-content: space-between;
}

.feature img {
    display: flex;
    margin: 0 auto;
    height: 75px;
}

.feature h3,
.feature p {
    text-align: center;
    transition: all 0.15s ease;
}

.feature {
    padding: 20px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.feature:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.feature:hover h3 {
    color: #ab3f3f;
}

.workout-container {
    margin-top: 140px;
    width: 1010px;
    height: 500px;
    text-align: center;
}

.workout-container {
    border: 1px solid #212121;
    border-radius: 5px;
}