::-webkit-scrollbar {
    display: none;
}

body {
    background: #181818;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #131313;
    padding: 20px;
    border-bottom: 1px solid #BDBDBD70;
    color: #BDBDBD;
    text-transform: uppercase;
}

header .logo a {
    text-decoration: none;
    color: #BDBDBD;
}

header .nav-btns {
    display: flex;
    gap: 20px;
}

header .nav-btns a {
    text-decoration: none;
    color: #BDBDBD;
    padding: 10px;
}

header .nav-btns a:hover {
    background: #191919;
}

input {
    padding: 10px;
    width: 178px;
}

input:focus {
    outline: none;
}

button {
    padding: 10px;
}

.container {
    display: flex;
    justify-content: center;
}

.container .pokemonInput {
    padding: 20px;
}

#pokemon {
    text-transform: uppercase;
    color: #BDBDBD;
}

main {
    min-height: 88vh;
    background: #232323;
}

.pokeContainer {
    background: #333333;
    border: 1px solid #BDBDBD70;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.pokeCard {
    display: flex;
    gap: 140px;
}

.pokeCard img {
    border: 1px solid #bdbdbd70;
    background: #141414;
    height: 200px;
    width: 200px;
}

.pokeId {
    display: flex;
    align-items: center;
    gap: 10px;
}

.pokeId h1 {
    width: 150px;
}

.pokeId span {
    width: 500px;
}

.pokeStats p {
    margin: 0;
}

#allPokes {
    display: grid;
    grid-template-columns: repeat(5, 0.6fr);
    color: #BDBDBD;
    text-transform: capitalize;
    gap: 10px;
}

#allPokes a {
    text-decoration: none;
    color: #BDBDBD;
}

#allPokes p {
    background: #333333;
    padding: 10px;
    border: 1px solid #BDBDBD70;
    cursor: pointer;
}

#allPokes p:hover {
    background: #393939;
}

#id {
    font-weight: 600;
}

.type {
    text-align: center;
    color: #181818;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
}

#electric {
    background: #ccc927;
}

#grass {
    background: #35cc27;
}

#fire {
    background: #cc5627;
}

#bug {
    background: #1a690a;
}

#normal {
    background: #575757;
}

#water {
    background: #0a4369;
    color: #bdbdbd;
}

#fighting {
    background: #801d43;
    color: #bdbdbd;
}

#psychic {
    background: #ca6d6d;
    color: #bdbdbd;
}

#poison {
    background: #660a69;
    color: #bdbdbd;
}

#dragon {
    background: #043352;
    color: #bdbdbd;
}

#ghost {
    background: #3f408b;
    color: #bdbdbd;
}

#dark {
    background: #3d333f;
    color: #bdbdbd;
}

#ground {
    background: #855e25;
    color: #bdbdbd;
}

#rock {
    background: #70634e;
    color: #bdbdbd;
}

#fairy {
    background: #c28eda;
    color: #181818;
}

#flying {
    background: #7e7bac;
    color: #bdbdbd;
}

#ice {
    background: #a8d3e4;
    color: #181818;
}

#steel {
    background: #2c373f;
    color: #bdbdbd;
}

#error {
    display: none;
    margin-top: 10px;
    text-align: center;
    background: #BDBDBD;
    color: #181818;
    padding: 1px;
    border-radius: 2px;
}

.autocomplete-container {
    position: absolute;
    background: #BDBDBD;
    max-height: 200px;
    overflow-y: auto;
    width: 200px;
    z-index: 1000;
}

.autocomplete-item {
    padding: 8px;
    cursor: pointer;
}

.autocomplete-item:hover {
    background: #f0f0f0;
}