body {
    background: #beb7b7;
    margin: 0;
    padding: 0;
    color: #171717;
}

.score {
    display: flex;
    justify-content: center;
    gap: 5px;
}

#title {
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    height: 80vh;
}

.final-pick {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.container {
    width: 800px;
}

.result {
    display: flex;
    justify-content: center;
}

.options {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.options img {
    padding: 5px;
    width: 50px;
    cursor: pointer;
    height: 50px;
    margin-top: 50px;
    border-radius: 10px;
    background: #a8a7a7;
    border: 1px solid #18181870;
    transition: all 0.3s ease;
}

.options img:hover {
    background: #9b9b9b;
}

.options img:active {
    background: #b8b7b7;
}

img {
    height: 100px;
    width: 100px;
}

footer {
    display: flex;
    justify-content: center;
}

footer p {
    text-transform: uppercase;
    font-size: 12px;
}