body {
    background: #0e0e0f;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

body::-webkit-scrollbar {
    display: none;
  }
  

.header {
    display: flex;
    background: #0a0a0a;
    height: 100px;
    border-bottom: 2px solid #303030;
}

.nav {
    height: 100%;
    margin: 0 20px;
}

.logo {
    display: flex;
}

.logo img {
    display: flex;
    justify-content: center;
    margin: auto;
    height: 30px;
}

.logo h3 {
    color: #fff;
}

.nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-btn a {
    text-decoration: none;
    color: #a7a7a7;
}

.nav-btn .active {
    color: #fff;
    font-weight: 600;;
}

.nav-btn {
    display: flex;
    gap: 30px;
}

.user-img img {
    height: 100px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    border: 1px solid #303030;
}

.stats-header a {
    text-decoration: none;
    color: #a7a7a7;
}

.stats-header .active {
    color: #fff;
    font-weight: 600;
}

.container {
    display: flex;
    margin: 50px;
}

.stats-container {
    border: 1px solid #303030;
    border-radius: 10px;
    margin: 10px;
}

.stats-header {
    display: flex;
    gap: 10px;
    padding: 25px;
    border-bottom: 1px solid #303030;
}

.calendar {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 2px solid #303030;
    width: 140px;
    padding: 0 5px;
}

.today {
    display: flex;
    background: #252525;
    border-radius: 10px;
    width: 140px;
}

.current {
    display: flex;
    align-items: center;
    margin: auto 5px;
    background: #000;
    border-radius: 10px;
    padding: 0 10px;
    height: 40px;
}

.total p {
    color: #a7a7a7;
    margin-left: 10px;
}

.calendar img {
    margin-left: 6px;
    height: 20px;
}

.main-container {
    margin: 50px 25px;
}

.date {
    display: flex;
    gap: 20px;
}

.handlinger {
    display: flex;
    gap: 40px;
    /* width: 100%; */
}

.aktivitet-i-dag {
    border: 2px solid #303030;
    border-radius: 10px;
    padding: 0 25px;
}

.ekstra-container {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.rapporter {
    padding: 10px 25px;
    width: 200px;
    border: 2px solid #303030;
    border-radius: 10px;
    margin-top: 25px;
}

.rapporter-idag {
    display: flex;
    justify-content: space-between;
}

.rapporter-idag img {
    height: 25px;
    margin: auto 0;
}

.rapporter-container {
    border: 2px solid #303030;
    border-radius: 10px;
    padding: 25px;
}

.rapporter-items h4,
.rapporter-items p {
    margin: 0;
}

.rapporter-items p {
    color: #a7a7a7;
}

.handling-container {
    border: 2px solid #303030;
    border-radius: 10px;
    margin-top: 20px;
}

.handling-header {
    border-bottom: 2px solid #303030;
    display: flex;
    gap: 32px;
    padding: 0 20px;
}

#handling {
    width: 100px;
}

#by {
    width: 87px;
}

.handlinger-container {
    display: flex;
    gap: 50px;
    padding: 0 20px;
}

.left {
    border-radius: 10px;
    padding: 0 40px;
}

.user-info {
    display: flex;
    gap: 20px;
    width: 250px;
}

.user-stats {
    margin: auto 0;
}

.user-stats h4 {
    font-weight: 400;
}

.user-stats h4,
.user-stats p {
    color: #a7a7a7;
    margin: 0;
}

.stjel,
.undersatter,
.club,
.rederi,
.bedrifter,
.ansatte {
    margin-bottom: 20px;
}

.timers {
    margin-top: 50px;
}

.timers h4 {
    margin-bottom: 5px !important;
}

.undersatter,
.club,
.ansatte {
    color: #a7a7a7;
}

.timers h4,
.timers span {
    margin: 0;
}

.timers span {
    font-weight: 600;
}

.timers h4 {
    font-weight: 400;
}

.chart {
    display: flex;
    align-items: flex-end;
    height: 300px;
    width: 600px;
    padding: 10px;
    position: relative;
    margin: 0 40px;
  }

.bar {
    width: 40px;
    margin-right: 10px;
    background-color: #fff;
    text-align: center;
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.bar span {
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    color: #888;
    font-size: 12px;
    font-weight: 600;
}

.y-labels {
    position: absolute;
    left: -35px;
    bottom: 0;
    text-align: right;
    line-height: 1;
}

.y-labels div {
    margin-top: 47px;
    color: #888;
    font-size: 12px;
    font-weight: 600;
}

a:hover {
    color: #fff;
    font-weight: 600;;
}

.verktoy-container h1 {
    justify-content: center;
}

.verktoy-main {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 50px;
}

.hvem {
    margin-bottom: 75px;
}

.hvem h1,
.hvem input {
    margin: 0;
}

.hvem input {
    width: 250px;
    padding: 10px;
    margin-top: 10px !important;
    background: #0e0e0f;
    border: 2px solid #303030;
    border-radius: 10px;
}

.hvem h1 {
    text-align: center;
}

.database {
    margin-bottom: 10px !important;
}

.database h1,
.database p {
    margin: 0;
    text-align: center;
}

.database p {
    color: #a7a7a7;
}