* {
    font-family: 'Futura', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
  }

body {
    /* background: #edf1f4; */
    background: linear-gradient(to right, #d4dade, #edf1f4);
    margin: 0;
}

header {
    height: 100px;
    position: sticky;
    z-index: 1000;
    background: linear-gradient(to right, #d4dade, #edf1f4);
}

main {
    margin: 100px 0;
    display: flex;
    justify-content: center;
}


.header {
    display: flex;
    justify-content: space-between;
    margin: 20px 50px;
}

.header .nav-btns {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header .nav-btns a {
    text-decoration: none;
    color: #363535;
    transition: all 0.3s ease;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 3px;
}

.header .logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header .logo h4 {
    color: #363535;
    cursor: pointer;
}

.header .logo img {
    height: 50px;
    border-radius: 50px;
    border: 1px solid #212121;
    cursor: pointer;
}

.header .nav-btns a:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #0573d9;
    background: linear-gradient(to right, #dee2e5, #edf1f4);
}

.header .nav-btns .active {
    color: #0573d9;
}

.container {
    display: flex;
    justify-content: center;
    gap: 100px;
    width: 80%;
}

.left {
    width: 40%;
}

.left .info h3,
.left .info p {
    color: #6a6464;
}

.right {
    display: flex;
    align-items: center;
}

.right img {
    height: 400px;
    border: 1px solid #212121;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.3s ease;
}

.socials {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.socials-container h3 {
    color: #363535;
}

.socials-logos {
    justify-content: center;
    display: flex;
    gap: 10px;
}

.socials img {
    height: 30px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    background: linear-gradient(to right, #dee2e5, #eaeef1);
    border-radius: 5px;
    border: none;
    transition: all 0.3s ease;
}

.socials img:hover {
    background: linear-gradient(to right, #d2d5d8, #d8dcdf);
    transform: scale(1.1);
}

.left .info h3 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1.8px;
}

.left .info h1 {
    width: 70%;
    color: #363535;
}

.left .info strong {
    color: #0573d9;
}

.left .info span {
    font-weight: 400;
    color: #0573d9;
    animation: test 1s infinite;
}

@keyframes test {
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media screen and (max-width: 1024px) {
    main {
        margin: 0;
    }
    .header .logo {
        display: none;
    }

    .header {
        width: 100%;
        margin: 10px;
    }

    .header .nav-btns {
        display: flex;
        margin: 0 auto;
    }

    .header .nav-btns a {
        font-size: 14px;
    }

    .container {
        display: block;
    }

    .container .left {
        width: 100%;
        margin: 50px 0;
    }

    .container .left h1 {
        font-size: 27px;
    }

    .container .right img {
        margin: 0 auto 50px;
    }

}

@media screen and (max-width: 600px) {
    .container {
        justify-content: center;
    }

    .socials {
        display: block;
    }

    .socials-logos {
        justify-content: left;
    }

    .header .nav-btns a {
        font-size: 12px;
    }

    .right img {
        height: 300px;
    }

    .left .info {
        width: 100%;
    }

    .left .info h1 {
        width: 100%;
    }

    .remove-mobile {
        displaY: none;
    }
}

footer {
    margin-top: 200px;
    width: 100%;
    padding: 0 0 15px;
}

.footer {
    display: flex;
    gap: 200px;
    justify-content: center;
    font-weight: 600;
}

.footer-content {
    display: flex;
    flex-direction: column;
    width: 100px;
}

.footer-content h4 {
    color: #363535;
    border-bottom: 2px solid #0573d9;
    padding: 15px 0;
}

.footer-content a {
    text-decoration: none;
    color: #6a6464;
    transition: all 0.3s ease;
    margin: 3px 0;
}

.footer-content a:hover {
    color: #363535;
    margin-left: 5px;
    text-decoration: underline;
}

.social-images {
    display: flex;
    gap: 15px;
}

.social-images img {
    height: 15px;
}

.social-images .logo {
    background: #6a6464;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.social-images .logo:hover {
    background: #363535;
    transform: scale(1.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

section {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.project-cards {
    display: flex;
    gap: 25px;
}

.project-cards img {
    width: 100%;
    overflow: none;
}

.project-one {
    background: #381f24 !important;
    color: #f9f6f7 !important;
}

.project {
    border: 1px solid #212121;
    width: 250px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.3s ease;
    background: #edf1f4;
    overflow: hidden;
}

.project:hover {
    transform: scale(1.05);
}

.project-info {
    opacity: 0;
    transition: all 0.3s ease;
    transform: translateY(100%);
    font-size: 14px;
}

.project:hover .project-info {
    opacity: 1;
    transform: translateY(0);
}

.project-links {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.project-links a {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    color: #f9f6f7;
}

.project-links a:hover {
    text-decoration: underline;
}

.contact-input {
    display: flex;
    flex-direction: column;
}

.contact-container {
    background: linear-gradient(to right, #d4dade, #edf1f4);
    padding: 25px;
    border-radius: 10px;
    border: 1px solid #212121;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.contact-input input {
    width: 450px;
    border: 1px solid #212121;
    padding: 10px;
    font-size: 14px;
}

.contact-input label {
    margin: 10px 0 5px;
}