body {
    background: #121212;
    color: #f9f6f7;
    font-family: 'Roboto', serif;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 80vh;
}

.timer {
    display: flex;
    height: 150px;
    gap: 10px;
}

.timer p {
    font-size: 48px;
    font-weight: 600;
}

.start {
    height: 100px;
}

.start button {
    background: #000;
    color: #f9f6f7;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
    cursor: pointer;
    font-size: 24px;
}

.container button:hover {
    background: #111;
}

.container button:active {
    background: #222;
}

header {
    display: flex;
    justify-content: flex-end;
}

header p {
    padding: 0 20px;
}

.club-bar {
    width: 200px;
    height: 25px;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.club-progress {
    position: absolute;
    height: 100%;
    background: #9dd69b;
}

.club p {
    text-align: center;
}

.club-btns {
    display: flex;
    justify-content: space-around;
}

.club-btns button {
    width: 50px;
    background: #000;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    color: #f9f6f7;
    padding: 5px 20px;
    cursor: pointer;
}