::-webkit-scrollbar {
    display: none;
}

body {
    background: #050505;
    color: #f9f6f7;
    font-family: 'Roboto', serif;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 80vh;
}

.timer {
    display: flex;
    height: 150px;
    gap: 10px;
}

.timer p {
    font-size: 48px;
    font-weight: 600;
}

.start {
    height: 100px;
}

.start button {
    background: #000;
    color: #f9f6f7;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
    cursor: pointer;
    font-size: 24px;
}

.container button:hover {
    background: #111;
}

.container button:active {
    background: #222;
}

header {
    display: flex;
    justify-content: space-between;
}

header p {
    padding: 0 20px;
}

.club-bar {
    width: 200px;
    height: 25px;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    margin: 25px 0;
}

.club-progress {
    position: absolute;
    height: 100%;
    background: #9bc3d6;
}

.club p {
    text-align: center;
}

.club-btns {
    display: flex;
    justify-content: space-around;
}

.club-btns button {
    width: 50px;
    background: #000;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    color: #f9f6f7;
    padding: 5px 20px;
    cursor: pointer;
}

#hamburger {
    border: 1px solid #bdbdbd;
    padding: 0 5px;
    border-radius: 5px;
    cursor: pointer;
}

#hamburger:hover {
    background: #222;
}

.stat {
    position: absolute;
    z-index: 1000;
    background: #222;
    width: 300px;
    height: 400px;
    transform: translate(-50%, -40%);
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.stat-header {
    background: #333;
    margin: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
}

.stat-header h3 {
    margin: 0;
    padding: 10px 0;
    text-align: center;
}

.verv-stats {
    padding: 0 20px;
}

.verv-stats p {
    margin: 15px 0 0;
}

.nyVerv {
    display: flex;
    justify-content: space-between;
}

.verver {
    display: flex;
    gap: 5px;
}

.verver p {
    background: #333;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    width: 30px;
    cursor: pointer;
    text-align: center;
}

.verver p:hover {
    background: #444;
}